.modal#vat_lieu-new-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %h4.modal-title#myModalLabel Tạo vật liệu mới
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
      .modal-body
        = simple_form_for :vat_lieu, url: vat_lieus_path, method: :post, :remote => true, html: { id: 'new_vat_lieu', role: :form, 'data-model' => 'vat_lieu'} do |f|
          = f.input :ten, label: 'Tên' do
            = f.input_field :ten, class: 'form-control'
            .span.help-block
          = f.input :loai, label: 'Loại' do
            = f.input_field :loai, class: 'form-control'
            .span.help-block
          = f.input :note, label: 'Ghi chú' do
            = f.input_field :note, class: 'form-control'
          = f.button :submit, 'Tạo', class: 'btn btn-success'
