.modal#nha_cung_cap-new-modal{tabindex:-1, role: :dialog, 'aria-labelledby'=>"myModalLabel", 'aria-hidden'=>"true"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %h4.modal-title#myModalLabel Tạo nhà cung cấp mới
        %button.close{type: :button, 'data-dismiss'=>"modal", 'aria-hidden'=>"true"} &times;
      .modal-body
        = simple_form_for :nha_cung_cap, url: nha_cung_caps_path, method: :post, :remote => true, html: { id: 'new_nha_cung_cap', role: :form, 'data-model' => 'nha_cung_cap'} do |f|
          = f.input :ten, label: 'Tên' do
            = f.input_field :ten, class: 'form-control'
            .span.help-block
          = f.input :sodienthoai, label: 'Số điện thoại' do
            = f.input_field :sodienthoai, as: :tel, class: 'form-control'
            .span.help-block
          = f.input :note, label: 'Ghi chú' do
            = f.input_field :note, class: 'form-control'
          = f.button :submit, 'Tạo', class: 'btn btn-success'
